
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


html, body, input {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.container{
    /* border: 1px solid red; */
    margin: 115px 0px 0px 52px;
    /* margin-top: 100px;
    margin-left: 50px */
    
}
/* Main Section */
.container .main-section h1{    
    font-size: 40px;
    margin-bottom: 0;
}

.container .main-section h3{
    font-size: 21px;
    font-weight: 100;;
    margin-top: 5px;
    margin-bottom: 53px;
}

.text-grey {
    color: #D5D4D8;
}

.text-green {
    color: #4ADF86;
}

/* Password Section */
.bottom-border {
    border-bottom: 2px solid #2F3E53;   
    border-radius: 2px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.password-btn {
    padding: 9px 15px;
    color: white;
    background-color: #10B981;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
}

.password-generation-section {
    display: flex;
    /* max-width: 1600px; */
    margin: 0 auto;
    /* justify-content: space-evenly;
    align-items: flex-start; */
    /* border: 1px solid red; */
}

.text-password {
    /* border: 1px solid green; */
    margin: 0px 25px 0px 25px;
    background-color: #273549;
    font-size: 32px;
    margin-left: 0px;
    color: #55F991;
    padding: 0px 50px 0px 50px;
    border-radius: 5px;
    cursor: pointer;
}


/* Tool tip section */
.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 150px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    background-color: #273549;

    position: absolute;
    z-index: 1; /* Specifies the stack order of an element. Works on positioned element i.e position: absolute, relation, fixed, etc */
    
}

.tool-tip-text {
    right: 75%;
    bottom: 45%;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
    

}

